{{ define "main" }}
<section class="section-page">
  <div class="container">
    <div class="section-header">
      <h1 class="section-title">সকল ট্যাগ</h1>
    </div>
    <div class="categories-grid">
      {{ range .Data.Terms.Alphabetical }}
        <a href="{{ .Page.RelPermalink }}" class="category-card">
          <h3 class="category-card__title">{{ .Page.Title }}</h3>
          <span class="category-card__count">{{ .Count  | replaceRE "0" "০" | replaceRE "1" "১" | replaceRE "2" "২" | replaceRE "3" "৩" | replaceRE "4" "৪" | replaceRE "5" "৫" | replaceRE "6" "৬" | replaceRE "7" "৭" | replaceRE "8" "৮" | replaceRE "9" "৯" }}টি লেখা</span>
        </a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
